/*.App {
  text-align: center;
}
*/
html{
  background-image: url('http://getwallpapers.com/wallpaper/full/c/f/5/26542.jpg');
}
.wrapper {
  position: absolute;
  top: 5%;
  right: 0;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
 }
 h1{
   color:white;
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 36px;
   text-align: center;
 }
 .wrapper:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
 }
 
 .wrapper:hover > .search-btn {
  background: white;
  color: black;
 }
 
 .search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
 }
 .listing{
   list-style-type: none;
   display: flex;
   align-items: center;
   padding-bottom: 0.5rem;
   padding-top: 0.5rem;
   padding-left: 0.5rem;
    padding-right: 0.5rem;
 }
 .listing:hover{
  color: rgb(255, 255, 255);
    background: rgb(125, 91, 190);
 }
 .listing img{
   width:50px;
   height:50px;
 }
 .info span{
  text-transform:capitalize;
  padding-left: 1rem;
    padding-right: 1rem;
    color:white;
 }
 .users{
   margin-top:50px;
   padding: 0;
   background: #302c2e;;
   color:black;
 }
.streams li{
  list-style-type: none;
  color:black;
}
.stream-card{
  flex: 0 0 22%;
}
.streams-wrapper{
  display: flex;                       
  flex-wrap: wrap;                     
  justify-content: space-around;
}
.stream-info{
display: flex;
flex-wrap: nowrap;
margin-top: 1rem;
}
.image-wrapper img{
  width:50px;
  height:50px;
  margin-right: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.card-info{
  color:white;
  margin-bottom: 1rem;
}
.stream-title{
  font-size: 14px;
  font-weight: 900;
}
.stream-user, .stream-game {
  font-size: 12px;
}
.subheading h3{
  text-align: center;
  color:white;
}
a{
  text-decoration: none;
}
